{% extends 'user/base.html' %}

{% load static %}

{% block content %}


    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">About Us</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                            <h5 class="mb-3">Skilled Instructors</h5>
                            <p>We have skilled young talents as our instructors for you.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                            <h5 class="mb-3">Online Classes</h5>
                            <p>The students can learn and clear their doubts from any place. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-home text-primary mb-4"></i>
                            <h5 class="mb-3">Study Materials</h5>
                            <p>Students will be provided study materials online by the instructors.</p>
                        </div>
                    </div>
                </div>
                <h4></h4>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="{% static 'user/img/about.jpg'%}" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                    <h1 class="mb-4">Welcome to ProLearnAssist</h1>
                    <p class="mb-4">Welcome to ProLearnAssist – Your Gateway to Knowledge and Skill Excellence!
                        At ProLearnAssist, we are passionate about transforming education through innovative online learning experiences.
                        Our platform is dedicated to providing you with a dynamic and accessible environment where learning knows no bounds. 
                        Whether you are a student looking to enhance your academic journey or a professional aiming to upskill, ProLearnAssist is your trusted partner in the pursuit of knowledge and expertise.</p>
                </div>
                    <h5>Our Mission</h5>
                    <h6  style="margin-top: 2px;">Empowering Minds, Enabling Success</h6>         
                    <p style="margin-top: 5px;">Our mission is to empower learners worldwide by offering a diverse range of courses and resources that cater to individual needs and aspirations. 
                        We believe in fostering a community where education is a lifelong journey, and every learner has the tools to succeed in an ever-evolving world.</p>
                    <h5 style="margin-top: 20px;">What Sets Us Apart?</h5>
                    <h6 style="margin-top: 2px;">Innovative Learning Solutions</h6>
                    <p style="margin-top: 5px;">At ProLearnAssist, we understand that education is not one-size-fits-all. 
                        That's why we offer a rich variety of courses spanning academic subjects to practical skills, all presented through engaging multimedia content. 
                        Our innovative learning solutions, including interactive forums, live webinars, and adaptive learning technologies, ensure an enriching and personalized educational experience.</p>
                    <h5 style="margin-top: 20px;">Flexibility and Convenience</h5>
                    <p style="margin-top: 5px;">Life is busy, and we get it. ProLearnAssist is designed with your schedule in mind, offering flexibility in learning. 
                        Access your courses from anywhere with an internet connection and progress at your own pace. 
                        Whether you're a full-time professional or a parent managing multiple responsibilities, we make learning fit seamlessly into your life.</p>
                    <h5 style="margin-top: 20px;">Expert Instructors and Timely Feedback</h5> 
                    <p style="margin-top: 5px;">Our team of expert instructors is dedicated to guiding you through your learning journey. 
                        Receive timely feedback, engage in discussions, and benefit from the wealth of knowledge our instructors bring to each course. 
                        We believe in a collaborative learning environment where every student's success is a shared achievement.</p>   
                    <h5 style="margin-top: 20px;">Join Our Learning Community</h5>
                    <p style="margin-top: 5px;">ProLearnAssist is more than just an online education platform; 
                        it's a community of learners driven by curiosity and a passion for growth. 
                        Join us in this exciting journey toward academic and professional excellence.</p>
                    <h5 style="margin-top: 20px;">Start Your Learning Adventure Today!</h5>
                    <p style="margin-top: 5px;">ProLearnAssist – Ignite Your Potential, Illuminate Your Future.</p>
                        <p class="mb-4">So here we provide the facility for connecting tutors and learners of the same field so that
                        they can share their knowledge with the ones who are lacking in it.</p>
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Study Materials</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Variety of Courses</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Team Start -->
    
    <!-- Team End -->
{% endblock content %}
        

    