{% extends 'user/LRbase.html' %}

{% load static%}

{% block content %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SignUp</title>
  <link rel="shortcut icon" type="" href="" />
  <link rel="stylesheet" href="{% static 'assets\css\styles.min.css' %}" />
</head>

<body style="background-image: url('{% static 'userprofile\img\register.jpg' %}');background-size: cover;background-position: center;width: 100%;height: 100%;">
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-5 mt-5">
            <div class="card mb-0">
              <div class="card-body">
                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <!-- <img src="" width="180" alt=""> -->
                </a>
                <!-- <p class="text-center">Your Social Campaigns</p> -->
                <h2 class="text-center" ><b>ProLearnAssist</b></h2>
                <h5>{{msg}}</h5>
                <form method="post">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="name" class="form-label">User Name</label>
                    <input type="text" name="name" class="form-control" id="name" aria-describedby="textHelp" required>
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" required>
                  </div>
                  <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" required>
                  </div>
                  <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="number" name="phone" class="form-control" id="phone" aria-describedby="textHelp" required>
                  </div>
                  <div class="mb-3">
                    <label for="qualification" class="form-label">Qualification</label>
                    <input type="text" name="qualification" class="form-control" id="qualification" aria-describedby="textHelp" required>
                  </div>
                  <div class="mb-3">
                    <label for="interest" class="form-label">Interest</label>
                    <select name="interest" id="interest" class="form-control" required>
                      <option>Learner</option>
                      <option>Tutor</option>
                    </select>
                    <!-- <input type="text" class="form-control" id="exampleInputtext1" aria-describedby="textHelp"> -->
                  </div>
                  <div class="mb-3">
                    <label for="current" class="form-label">Current Status</label>
                    <input type="text" name="current" class="form-control" id="current" aria-describedby="textHelp" required>
                  </div>
                  <div class="mb-3">
                    <div class="mb-3">
                      <label for="institution" class="form-label">Institution</label>
                      <input type="text" name="institution" class="form-control" id="institution" aria-describedby="textHelp" required>
                    </div>
                    <div class="mb-3">
                    {% if user.is_authenticated %}
                  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign Up</button>
                  {% endif %}
                </form>
                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                    <a class="text-primary fw-bold ms-2" href="{% url 'Login' %}">Sign In</a>
                  </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>

{% endblock content %}
